body {
  background: var(--primary);
}

.before-line {
  overflow: hidden;
  &:before {
    background-color: var(--color-main);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 30px;
    right: 0.5em;
    margin-left: 0;
  }
  &.opacity {
    &:before {
      opacity: 0.5;
    }
  }
}
.rotate {
  position: absolute;
  left: -45px;
  transform: rotate(-90deg);
  top: 30%;
}

.group {
  position: relative;

  width: 100%;
  &.-ionic {
    > textarea.field {
      height: auto;
      padding-top: 5px;
    }
    > .field {
      height: 2.8rem;

      text-indent: 12px;
      // border-radius: 6px;
      // border: 1px solid #ddd;

      &:focus,
      &.notEmpty {
        // border-color: map-get($colors, primary);

        + .title {
          top: 0;

          // color: map-get($colors, primary);
        }
      }

      + .title {
        left: 8px;

        padding: 0 0.5rem;

        background-color: var(--secondary);
      }
    }
  }

  > .field {
    width: 100%;

    // border: 0;
    outline: none;

    + .title {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      // color: var(--main-text);
      transition: 0.3s;
      pointer-events: none;
    }

    &:focus,
    &.notEmpty {
      + .title {
        transition: 0.3s;
        font-size: 0.75rem;
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--secondary) inset !important;
  -webkit-text-fill-color: var(--text-main) !important;
}
// .main-content {
//   height: calc(100vh - 70px);
// }
