@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  @apply font-body;
}

.theme-light {
  --primary: #edf1fe;
  --secondary: #ffffff;
  --color-main: #dbab09;
  --text-main: #727698;
  --text-secondary: #42495c;
  --border-primary: rgb(204, 214, 221);
  --text-sub: rgb(101, 119, 134);
  --hover-bg: rgba(0, 0, 0, 0.03);
}
.theme-dark {
  --primary: #191d29;
  --secondary: #161922;
  --color-main: #fed06e;
  --text-main: #b7bacc;
  --text-secondary: #ffffff;
  --border-primary: rgb(56, 68, 77);
  --text-sub: rgb(136, 153, 166);
  --hover-bg: rgba(255, 255, 255, 0.03);
}
