@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  @apply font-body;
}

.theme-light {
  --primary: #edf1fe;
  --secondary: #ffffff;
  --color-main: #dbab09;
  --text-main: #727698;
  --text-secondary: #42495c;
}
.theme-dark {
  --primary: #191d29;
  --secondary: #161922;
  --color-main: #fed06e;
  --text-main: #b7bacc;
  --text-secondary: #ffffff;
}
